<nav class="navbar fixed-top navbar-expand-md navbar navbar-dark bg-primary">

  {{!-- Logo --}}
  <a class="navbar-brand" href="/">Reddit Web Development Scrapper </a>
  {{!-- Collapsible Button --}}
  <button class= "btn btn-success" id = "savedArticles">See Saved Articles Only and Comment on them</button>
  <button class="btn btn-warning" id= "scrape">Go and Get some more Reddit</button>


  {{!-- Collapsible Content Right --}}
{{!-- <div class="dropdown">
  <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    Web Development
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li><a href="#" data-value="WarFrame">WarFrame</a></li>
    <li><a href="#" data-value="Overwatch">Overwatch</a></li>
    <li><a href="#" data-value="something else here">Something else here</a></li>
    <li><a href="#" data-value="separated link">Separated link</a></li>
  </ul>
</div> --}}

</nav>
<br>